////+build ignore
//
// package main
// import "fmt"
// func main() {
// 	generate(3)
// }


// func generate(n int) {

#include <stdio.h>

int main(void) {
	//// Loop to emit multiple printf()s.
	// for i := 0; i < n; i++ {
	printf("This is hello world number /* i */.\n");
	// }
	return 0;
}

// }
